/* Import your style files */
/*********************/
/* Path source */
/*********************/
/* Import your fonts */
/*********************/
@font-face {
  font-family: 'Roboto-Black';
  src: url("../font/Roboto-Black.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url("../font/Roboto-BlackItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../font/Roboto-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url("../font/Roboto-BoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Italic';
  src: url("../font/Roboto-Italic.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Light';
  src: url("../font/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-LightItalic';
  src: url("../font/Roboto-LightItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Medium';
  src: url("../font/Roboto-Medium.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url("../font/Roboto-MediumItalic.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../font/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Thin';
  src: url("../font/Roboto-Thin.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url("../font/Roboto-ThinItalic.ttf") format("truetype"); }
/* Container */
/*********************/
.dashboard {
  background-image: url(../img/header/Godfather_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; }

.dashboard__logo {
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6); }

/* Left side */
/*********************/
.employee--list {
  background-color: #0000006e;
  width: 100%; }
  .employee--list li a {
    font-family: "Roboto-light";
    text-decoration: none !important;
    word-break: break-all;
    line-height: 1;
    margin: 0.3em 0;
    display: inline-block; }

/* Detail */
/*********************/
.content {
  background-color: #2e2e36; }

.profile__img {
  width: 50%;
  margin-top: -50px; }

.profile__name {
  font-family: "Roboto-light"; }

.biography {
  background-color: #1a1d24; }

.biography__title {
  font-family: "Roboto-Bold";
  font-size: 1.2em; }

.biography__des {
  font-family: "Roboto-Regular"; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s; }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer; }
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer; }

/* Breakpoints */
/*********************/
@media (min-width: 768px) {
  .profile {
    margin-left: 30%; }

  .profile__img {
    width: 100%; }

  .profile__detail {
    margin-top: -50px; }

  .employee--list {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30%; }
    .employee--list li a {
      margin: 0.5em 0; }

  .content {
    margin-top: 30%; }

  .dashboard__logo {
    margin-top: 7em;
    margin-bottom: 3em; } }
@media (min-width: 992px) {
  .profile {
    padding: 0 5% !important; }

  .dashboard__logo {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); } }
@media (min-width: 1200px) {
  .dashboard__logo {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  .employee--list {
    width: 25%; }

  .profile {
    margin-left: 25%;
    padding: 0 10% !important; }

  .content {
    margin-top: 20%; } }
