/* Container */
/*********************/
.dashboard {
  background-image: url(#{$imgSrc}/header/Godfather_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.dashboard__logo {
  @include css3-prefix(transform, scale(0.6));
}

/* Left side */
/*********************/
.employee--list {
  background-color: #0000006e;
  width: 100%;

  li {
    a {
      font-family: "Roboto-light";
      text-decoration: none !important;
      word-break: break-all;
      line-height: 1;
      margin: 0.3em 0;
      display: inline-block;
    }
  }
}


/* Detail */
/*********************/
.content {
  background-color: #2e2e36;
}

.profile__img {
  width: 50%;
  margin-top: -50px;
}

.profile__name {
  font-family: "Roboto-light";
}

.biography {
  background-color: #1a1d24;
}

.biography__title {
  font-family: "Roboto-Bold";
  font-size: 1.2em;
}

.biography__des {
  font-family: "Roboto-Regular";
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
}



/* Breakpoints */
/*********************/
@media (min-width: 768px) {
  .profile {
    margin-left: 30%;
  }

  .profile__img {
    width: 100%;
  }

  .profile__detail {
    margin-top: -50px;
  }

  .employee--list {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30%;
    li {
      a {
        margin: 0.5em 0;
      }
    }
  }

  .content {
    margin-top: 30%;
  }

  .dashboard__logo {
    margin-top: 7em;
    margin-bottom: 3em;
  }
}

@media (min-width: 992px) {
  .profile {
    padding: 0 5% !important;
  }
  .dashboard__logo {
    @include css3-prefix(transform, scale(0.8));
  }
}

@media (min-width: 1200px) {
  .dashboard__logo {
    @include css3-prefix(transform, scale(1));
  }

  .employee--list {
    width: 25%;
  }

  .profile {
    margin-left: 25%;
    padding: 0 10% !important;
  }

  .content {
    margin-top: 20%;
  }
}
